<section id="pending_talks">
  <%= form_for :talk_ids, :url => accept_talks_path, :method => :put do |f| %>
    <% @pending_talks.each do |talk| %>

      <%= f.label :id, talk.title %>
      <%= f.check_box :id, {}, talk.id %>

    <% end %>

    <%= f.submit t(:accept_talks) %>
  <% end %>
</section>