<div class="groups">
  <% groups.each_with_index do |group,index| %>
    <span class="group">
      <%= link_to group.name, group_path(group) %>
    </span>

    <% if index + 1 < groups.count %>
      <span>|</span>
    <% end %>
    
  <%end%>
</div>