<nav>
  <ul>
    <li><%= link_to t(:found_a_group), new_group_path %></li>
  </ul>
</nav>

<header>
  <h1><%= t(:my_groups) %></h1>
</header>

<section>
  <% @groups.each do |group| %>
    <article>
      <h1><%= link_to group.name, group %></h1>
      <p><%= group.description %></p>
    </article>
  <% end %>
</section>