div#content-container {
  margin-top: 60px;
  padding-bottom: 60px; 
  background: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #777;
}

section#content {
  nav {
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    ul {
      margin: 7px 12px;
      
      a {
        font: normal 13px Arial, sans-serif;
        color: #333;
      }
    }

    li {
      display: inline-block;
      margin-right: 15px;
    }
  }

  & > header h1, 
  & > article h1 {
    &, a {
      color: #333;
      font-family: "Helvetica Nueve", Helvetica, Arial, sans-serif;
      font-size: 1.5em;
    }

    small {
      color: #a0a0a0;
      font-family: "Helvetica Nueve", Helvetica, Arial, sans-serif;
      font-weight: normal;
    }
  }

  section header h1 {
      color: #666;
      font-family: "Helvetica Nueve", Helvetica, Arial, sans-serif;
      font-size: 1.5em;
      margin-bottom: 7px;
  }

  section article h1 {
      color: #333;
      font-family: "Helvetica Nueve", Helvetica, Arial, sans-serif; 
      font-size: 1.2em;
      margin-top: 14px;
  }

  article h1 a {
    color: #333;
  }

  section.groups,
  section.talks {
    article {
      h1 { margin-bottom: 0px; }
      p { margin-top: 7px; }
    }
  }

  aside section.groups,
  aside article.talker {
    a, span {
      color: #666;
      font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    }

    article.group {
      display: inline-block;
    }
  }
}