body {
  margin: 0px;
  margin-top: -16px;
  background: #aaa;
  width: 960px;
  margin: auto;
}

#logo a {
  color: #AAA;
  font: normal 24px "Helvetica nueve", Helvetica, Arial, sans-serif;
  margin: 12px 0px;
  text-decoration: none;
}

ul, li {
  list-style: none; 
  padding: 0px;
}

p {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}