<%= render "groups/header", :group => @group %>

<h1><%= t(:members) %></h1>

<nav>
  <ul>
    <li><%= link_to t(:manage_members), edit_group_members_path(@group)  %></li>
  </ul>
</nav>

<section>
  <% @members.each do |member| %>
    <article>
      <h1><%= member.name %></h1>
    </article>
  <% end %>
</section>